<!doctype html>
<html lang="{{ default_locale }}">
<head>
<meta charset="utf-8">
<title>{{ site }}</title>
<link rel="canonical" href="{{ base_url }}/{{ default_locale }}/">
<meta http-equiv="refresh" content="0; url=/{{ default_locale }}/">
</head>
<body><p><a href="/{{ default_locale }}/">{{ site }}</a></p></body>
</html>
